/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import "tailwindcss";

/* html,
body,
#root,
ion-app,
ion-content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
} */

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.custom-modal {
    --border-radius: 25px 25px 0 0;

}

.custom-modal::part(content) {
    border-radius: 25px 25px 0 0;

}